<section class="foodapp">
  <header class="header">
    <h1>Food</h1>
    <input class="new-food-item" placeholder="What needs to be bought?" autofocus="" [(ngModel)]="newFood.title" (keyup.enter)="addFood()">
  </header>
 <section class="main" *ngIf="foods.length > 0">
    <ul class="food-item-list">
      <li *ngFor="let food of foods" [class.completed]="food.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleFoodComplete(food)" [checked]="food.complete">
          <label>{{food.title}}</label>
          <button class="destroy" (click)="removeFood(food)">X</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="foods.length>0">
    <span class="food-count"><strong>{{foods.length}}</strong> {{foods.length === 1 ? 'item' : 'items'}} left </span>
  </footer>
</section>